[submodule "src/catkin_simple"]
	path = src/catkin_simple
	url = https://github.com/catkin/catkin_simple
[submodule "src/ur_modern_driver"]
	path = src/ur_modern_driver
	url = https://github.com/ros-industrial/ur_modern_driver
[submodule "src/universal_robot"]
	path = src/universal_robot
	url = https://github.com/ros-industrial/universal_robot
